html body {
  background-color: rgb(82, 189, 82);
  color: white;
  font-family: Helvetica;
}
td {
  color: white;
}
a {
  color: white;
}
#title {
  text-decoration: unset;
}
mark {
  color: green;
  font-size: 20px;
  font-weight: 500;
}
author {
  display: block;
  margin-right: 20%;
  text-align: right;
  color: white;
}
img {
  border: 50px dashed white;
  width: 400px;
}
#garden {
  position: relative;
  width: 100vw;
  right: 50%;
}

table.GeneratedTable {
  width: 20%;

  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #336600;
  border-style: double;
  color: rgb(4, 42, 4);
  margin-right: auto;
  margin-left: auto;
  border: 2px double red;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: red;
  border-style: double;
  padding: 0.8;
  color: navy;
}

table.GeneratedTable thead {
  background-color: palegoldenrod;
}
#hotkey-title {
  color: white;
  text-align: center;
}
